<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display New Puppy</title>
  </head>
  <body>
    <h1>Here is the new puppy: </h1></br>
    <a href="/new">Click Here To List A Puppy</a>

  </body>
</html>
