<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display New Puppy</title>
  </head>
  <body>
    <h1>Here is the new puppy: </h1></br>
    <p>Name: <%= @name %> </p></br>
    <p>Breed: <%= @name %> </p></br>
    <p>Name: <%= @name %> </p></br>

  </body>
</html>
